#main > .inner {
	padding: 2em;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.0);
	background: rgba(235, 235,235, 0.5);
	font-family: "Urbanist", "Comfortaa", sans-serif;
	border-radius: 1em;
	box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
}

#main > .inner > * {
	flex: 1 1 1em;
	padding: 0;
	margin: 0;
}

#main > .inner > #tab-block {
	flex: 0 0 auto;
	margin: 0.25em 0;
}

#main > .inner > select {
	flex: 0 0 auto;
	height: 2em;
	padding: 0.2em;
	width: 100%;
	border: 1px dashed rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	margin-bottom: 1em;
	font-family: "Special+Elite";
	text-align: center;

	-moz-appearance: auto;
	-webkit-appearance: auto;
	-ms-appearance: auto;
	appearance: auto;
}


#main > .inner > select optgroup,
#main > .inner > select option {
	font-family: "Special+Elite", sans-serif;
}

#main > .inner > *:last-child:not(select) {
	overflow: auto;
	flex-basis: 40vh;
}

.img-modal {
	position: absolute;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width: 10em;
	min-height: 10em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.img-container:hover:not(.img-modal) {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

.hide {
	display: none !important;
}

#info_line_container {
	display: flex;
	flex-direction: column;
	max-height: 45vh;
	overflow: auto;
}

.info-line {
	display: flex;
	width: 100%;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.25em;
	background: white;
	line-height: 2em;
	font-family: "Urbanist";
	margin: 0.2em 0;
}

.info-line > * {
	flex: 1 1 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.info-line > *:first-child {
	text-align: left;
	flex: 0 0 auto;
	text-transform: uppercase;
}

.info-line > *:last-child {
	text-align: right;
	margin-left: 1em;
}

.nav.nav-tabs {
	display: flex;
	justify-content: space-evenly;
	border: none;
	box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #fff9,
   4px 4px 5px 0px #0005;
   
}

.nav.nav-tabs > * {
	flex: 1 1 5em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	color: rgb(130, 78, 130);
	border: none;
	font-weight: bold;
	border-radius: 0;
	background: transparent;
}

.nav.nav-tabs > *:not(.active):hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.0);
	border: none;
}

.nav.nav-tabs > .active {
	cursor: default;
	background: transparent;
	border: none	
	box-shadow: 7px 7px 20px 0px rgba(0,0,0,.2);
}

#tab-content-container > * {
	height: 100%;
}

#tab-content-container {
	height: 100%;
}

#tab-content-container > * > * {
	height: 100%;
}

/*	============================================================================================ */
/*	== TRIVIA ================================================================================== */
/*	============================================================================================ */

.axis-container {
	position: relative;
}

.axis-background {
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.axis-cursor-positionner {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.axis-cursor-positionner img {
	flex: 0 0 auto;
	max-height: auto;
}

.axis-line span {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.axis-line > *:last-child > span {
	text-align: right;
}

.axis-line > *:first-child,
.axis-line > *:last-child {
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	justify-content: flex-start;
}

.gauge-img {
	max-width: 100%;
}

.gauge-line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.relationship-line > *:first-child {
	position: relative;
	height: 3em;
}

.relationship-line {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.relationship-line:not(:last-child) {
	border-bottom: none;
}

.relationship-line > *:first-child:after {
	content: "...";
	font-weight: bold;
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	right: 0;
	width: 2em;
	pointer-events: none;
	justify-content: center;
	align-items: center;
}

.relationship-line > *:first-child a {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding-right: 2em;
	justify-content: center;
	border-bottom-color: rgba(0, 0, 0, 0.05);
	align-items: center;
	text-decoration: none;
	color:  black;
	justify-content: space-evenly
}

.relationship-line > *:first-child a > * {
	flex: 0 0 5em;
}

.relationship-line > *:first-child a > span:first-of-type {
	flex: 1 1 10em;
}

.relationship-line > *:first-child a > .relation-feeling {
	text-transform: uppercase;
}

.relationship-line > *:first-child a[aria-expanded=true] {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}


.relation-text {
	display: inline-block;
	width: 100%;
	text-align: left;
	margin: 0.25em 0;
}

#trivia_axis_container, 
#trivia_gauge_container, 
#trivia_relation_container {
    margin: 1em 0;
}

.relationship-line a:hover,
.axis-line:hover,
.gauge-line:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.gauge-line span {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.relationship-line > *:first-child a > .img-container {
    position: absolute;
    top : 0;
    bottom: 0;
    width: 2em;
    min-width: auto;
    min-height: auto;
}

.relationship-line > *:first-child a > .img-container:first-child {
    left: 1em;
}

.relationship-line > *:first-child a > .img-container:last-child {
    right: 2em;
}

/*	============================================================================================ */
/*	== LORE ==================================================================================== */
/*	============================================================================================ */

.lore-line {
	display: inline-block;
	text-align: left;
	margin-bottom: 0.5em;
}

/*	============================================================================================ */
/*	== GALLERY ================================================================================= */
/*	============================================================================================ */

#gallery_container {
	display: flex;
}

#gallery_container > * {
	flex: 1 1 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery-line {
	display: flex;
	min-height: 10em;
	flex: 0 0 49%;
	margin: 0.5em 0;
}

.gallery-line > * {
	flex: 1 1 1em;
}

.gallery-line > .img-container {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	#main > .inner > *:last-child:not(select) {
		overflow: visible;
	}
}
